# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI
env:
  VERSION_APPLICATION: 0
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: |
       VERSION_APPLICATION = 'v1.0.0'
       npm install
  
      
  deployStage:
   name: "Deploy stage"
   needs: [build]
   runs-on: ubuntu-latest
   environment:
     name: Stage
   steps:
    - uses: actions/checkout@v2
    - name: "Version application"
      run: 
      
       echo "A nova versão ${VERSION_APPLICATION}"
       
  deployProduction:
   name: "Deploy Production"
   needs: [build]
   runs-on: ubuntu-latest
   environment:
     name: Production
   steps:
    - uses: actions/checkout@v2
    - name: Node.js ${{ matrix.node-version }}
      run: 
       echo "A nova versão ${VERSION_APPLICATION}"    
   
